

.inline-block {
    display:inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
}

img {
    max-width:100%;
max-height:100%;
}

nav {
    width: 50%;
    margin-left: auto;
}

.logo {
    text-align: center;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #373738;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}